body{
  background-color:black !important;
  width: 100%
}
.navbar-brand {
    font-size: 20px;
    font-style: italic;
    font-style: bold;
  }
  #flex{
    display: flex;
  }
  .im{
    display: flex;
    padding-top: 15px;
  }
  .txt{
    display: inline-block;
    width: 100%;
    color: black;
  }
  .aboutImage{
    position: right;
    width: 95%;
    padding-top: 10px;
    padding-left: 50px;
    height: auto;
  }
  .half-width {
    width: 50%;
    padding-left: 5%;
    text-align: justify;
  }
  #top{
    padding-top: 20px;
    width: 100%;
    color: antiquewhite;
    font-size: 40px;
  }
  .orange-color {
    color: orange;
  }
  .half-width {
    width: 50%;
    padding-left: 5%;
    text-align: justify;
  }
  .head {
    display: flex;
    background-color: rgb(0, 0, 0);
    padding-top: 40px;
    /* width: auto; */
  
  }
  .row{
    padding-top: 20px;
  }
  .img2{
    position: right;
    width: 95%;
    padding-top: 10px;
    padding-left: 70px;
    height:80%;
  }
  #para{
    color: antiquewhite;
    font-size: 15px;
  }
  #top1{
   top: -2px;
    width: 100%;
    color: black;
    font-size: 40px;
    text-align: center;
  }
  #grid{
    display: flex;
  }
  #info{
    
    padding-left: 5px;
  }
   .footer {
            display: flexbox;
            background-color: black;
            z-index: 99999;
            width: 100%;
            border-top: 5px solid orange;
        }

        .Content-info {
            display: inline-flexbox;
        }

        .Contact-info-details {

            display: inline-block;
            width: 15%;
            margin-left: 2rem;
            margin-right: 2rem;
            padding-top: 25px;
        }

        .Contact-info-details i {
            float: left;
        }

        .Contact-info-details h4,
        .Contact-info-details {
            color: orange
            ;
            position: relative;
            bottom: 1rem;
            /* left: 0.8rem; */
        }

        .social-buttons {
            text-align: center;
            font-size: xx-large;
        }

        .line {
            background-color: #f8941c;
            height: 2px;
            width: 80%;
            margin-left: 10rem;
        }

        .Contact-info-details p {
            color: #fff;
            text-align: end;
        }

        .feedback-form {
            color: black;
            float: right;
            font-size: xx-large;
            padding-right: 10rem;
            padding-top: 2vw;
        }

        .feedback-form a {
            /* margin-top: 2rem; */
            text-transform: none;
            display: inherit;
            padding: 0;
        }

        .footer img {
            margin-left: 3rem;
            padding-top: 2vw;

        }

        a {
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.05%;
            display: inline-block;
            padding: 15px 20px;
            position: relative;
            width: max-content;

        }

        a:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: #f8941c;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }

        a:hover:after {
            width: 100%;
            left: 0;
        }

        a {
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.05%;
            display: inline-block;
            padding: 15px 20px;
            position: relative;
            width: max-content;

        }
        .contactSection-section {
          background-color: black;
          color: orange;
          padding-top: 10px;
          padding-bottom: 30px;
          text-align: center;
        }
        .contactSection-section1 {
          background-color: black;
          color: orange;
          padding-top: 10px;
          padding-bottom: 50px;
          text-align: right;

        }
        .contactButton {
          background-color: rgb(2, 2, 2) ;
          color: rgb(255, 255, 255);
          padding: 15px 20px;
          display: inline-block;
          margin-bottom: 20px;
          margin-top:20px ;
          border: 1px solid #fff;
          border-radius: 2px;
        }
        .contactButton:hover {
          background-color: rgb(2, 2, 2) ;
          color: rgb(255, 255, 255);
        }

        a:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: #f8941c;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }

        a:hover:after {
            width: 100%;
            left: 0;
        }
        #ft{
          left: -80px;
          width: 10%;
          font-family: papyrus, Arial, Tahoma, Serif;
        }
        #ik{
          color: aliceblue;
          text-decoration: none;
          font-size: 12px;
        }
        .thumbnail{
          background-color: black;
          overflow: hidden;
        }